@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

:root {
    --fonte-projeto: 'Hanken Grotesk', sans-serif;
    --fonte-tamanho-paragrafo: 18px;
    --cor-paragrafos: hsl(241, 100%, 89%);

    --cor-fundo1: hsl(252, 100%, 67%);
    --cor-fundo2: hsla(241, 81%, 54%);

    --cor-circulo1: hsla(256, 72%, 46%, 1);
    --cor-circulo2: hsla(241, 72%, 46%, 0);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.card {
    /* border: 1px solid black; */
    width: 650px;
    height: 450px;
    margin: 250px auto;
    border-radius: 30px;
    display: flex;
    font-family: var(--fonte-projeto);
    font-size: var(--fonte-tamanho-paragrafo);
    font-weight: 500;
    box-shadow: 10px 10px 25px hsla(224, 30%, 27%, 23%);
}

.card__result {
    background: linear-gradient(var(--cor-fundo1), var(--cor-fundo2));
    border-radius: 30px;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--cor-paragrafos);
    text-align: center;
}

.card__result__tittle {
    font-weight: 700;
}

.card__result__note {
    background: linear-gradient(var(--cor-circulo1), var(--cor-circulo2));
    border-radius: 100%;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__result__note h2 {
    font-size: 45px;
    color: hsl(0, 0%, 100%);
    font-weight: 800;
}

.card__result h3 {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 700;
}

.card__summary {
    height: 100%;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    gap: 25px;
}

.card__summary__tittle {
    font-weight: 700;
}

.card__summary__category {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__summary__category__reaction {
    color: hsl(0, 100%, 67%);
    background: hsla(0, 100%, 67%, 15%);
    border-radius: 10px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.card__summary__category__memory {
    color: hsl(39, 100%, 56%);
    background: hsla(39, 100%, 56%, 15%);
    border-radius: 10px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.card__summary__category__verbal {
    color: hsl(166, 100%, 37%);
    background: hsla(166, 100%, 37%, 15%);
    border-radius: 10px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.card__summary__category__visual {
    color: hsl(234, 85%, 45%);
    background: hsla(234, 85%, 45%, 15%);
    border-radius: 10px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.card__summary__category__icon_and_name {
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100px;
    box-sizing: border-box;
}

.card__summary__category__icon_and_name svg {
    margin: auto 0;
}

.card__summary__category__scores {
    color: var(--cor-paragrafos);
}

.card__summary__category__scores strong {
    color: black;
}

.card__summary__button {
    border-radius: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
}

.card__summary__button:hover {
    background: linear-gradient(var(--cor-fundo1), var(--cor-fundo2));
}

@media only screen and (max-width:440px) {
    .card{
        flex-direction: column;
        margin: 0px auto;
        width: 100%;
        height: 100%;
    }
    
    .card__result {
        width: 100%;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .card__result__note {
        width: 140px;
        height: 140px;
    }

    .card__summary {
        width: 100%;
        position: relative;
    }

    .card__summary__category {
        margin-top: 50px;
    }

    .card__summary__tittle {
        text-align: start;
        position: absolute;
        left: 30px;
    }
}